.login {
  background-color: white;
  font-family: "Open Sans", Serif;
  margin: 0;
}

.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

.login .content {
  background-color: #eceef1;
  width: 350px;
  margin: 40px auto 10px auto;
  padding: 30px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}

.login .content h3 {
  color: #7479B0;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .form-control {
  border: none;
  background-color: #dde3ec;
  height: 43px;
  color: #8290a3;
  border: 1px solid #dde3ec;
  width: 95%;
  margin-top: 10px;
  padding-left: 20px;
}
.login .content .form-control:focus, .login .content .form-control:active {
  border: 1px solid #c3ccda;
}
.login .content .form-control::-moz-placeholder {
  color: #8290a3;
  opacity: 1;
}
.login .content .form-control:-ms-input-placeholder {
  color: #8290a3;
}
.login .content .form-control::-webkit-input-placeholder {
  color: #8290a3;
}

.login .content select.form-control {
  padding-left: 9px;
  padding-right: 9px;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 400;
  margin-bottom: 25px;
}

.login .content .form-actions {
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login-options {
  margin-bottom: 30px;
  overflow: hidden;
}

.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa;
}

.login-options .social-icons {
  float: right;
  padding-top: 3px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .form-actions .btn-success {
  font-weight: 600;
  padding: 10px 20px !;
  background-color: #8187C4;
  border: none;
  height: 40px;
  width: 100px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  float: right;
}

.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px;
  color: #ffffff;
  border: none;
  background-color: #7479B0;
  border: none;
  height: 40px;
  width: 90px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.login .content .form-actions .btn-success:hover {
  opacity: 0.8;
}

.login .content .form-actions .btn-default:hover {
  opacity: 0.8;
}

.login .content .forget-password {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  color: #7479B0;
  margin-top: 20px;
}

.login .content .create-account {
  margin: 0 -40px -40px -40px;
  padding: 10px 0 17px 0;
  text-align: center;
  background-color: #1C2E5E;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.login .content .create-account p a {
  font-weight: 600;
  font-size: 18px;
  color: #c3cedd;
}

.login .content .create-account a {
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;
}

.lblsSignUp {
	color:red;
	font-size: 12px;
	padding-left: 10px;
	display: none;
}

#prodTable {
	margin: 0 auto;
	margin-top: 20px;
	width: 95%;
	border: none;
}

.topMenu {
    text-decoration:none;
    width:90px;
    height:80%;
    text-align:center;
    color:white;
    padding-top: 5px;
}

.topMenu:hover {
    background-color: #41419E;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
}

.modal-content {
    background-color: rgb(122,134,153);
    background-color: #5757BB;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

.btnModal {
  display: block;
  margin: auto;
  border: none;
  border-radius: 5px;
  background-color: #2D2D8D;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 35px;
  margin-top: 35px;
  cursor: pointer;
}

.btnModal:hover {
  opacity: 0.9;
}

.txtAddModal{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  border:1px solid #ccc;
  border-radius: 4px;
}
